/*
 * @Author: yquanmei 
 * @Date: 2022-02-17 14:57:30 
 * @Last Modified by:   yquanmei 
 * @Last Modified time: 2022-02-17 14:57:30 
 */
@font-face {
  font-family: "iconfont"; /* Project id 3186403 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1644994415202') format('woff2'),
       url('iconfont.woff?t=1644994415202') format('woff'),
       url('iconfont.ttf?t=1644994415202') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuque:before {
  content: "\e627";
}

